/****** Object:  View [dbo].[vw_CCPropiedad_Vigente]    Script Date: 21/11/2025 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CCPropiedad_Vigente]
AS
SELECT
  cp.id,
  cp.PropiedadId AS idPropiedad,
  p.numeroFinca,
  cp.idCC,
  c.nombre AS CCNombre,
  cp.fechaInicio
FROM dbo.CCPropiedad AS cp
JOIN dbo.CC        AS c ON c.id = cp.idCC
JOIN dbo.Propiedad AS p ON p.id = cp.PropiedadId
WHERE cp.fechaFin IS NULL;
GO
/****** Object:  View [dbo].[vw_Propietarios_Vigentes]    Script Date: 21/11/2025 17:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) Actualizar la vista para que NO use las columnas viejas
CREATE   VIEW [dbo].[vw_Propietarios_Vigentes]
AS
SELECT
  pp.id,
  p.id       AS idPropiedad,
  p.numeroFinca,
  per.id     AS idPersona,
  per.valorDocumento,
  per.nombre AS nombrePersona,
  pp.fechaInicio
FROM dbo.PropiedadPersona AS pp
JOIN dbo.Persona   AS per ON per.id = pp.idPersona
JOIN dbo.Propiedad AS p   ON p.id  = pp.idPropiedad
WHERE pp.fechaFin IS NULL;
GO
