/****** Object:  Table [dbo].[BitacoraEvento]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoEvento] [int] NOT NULL,
	[Descripcion] [nvarchar](256) NULL,
	[IdPostByUser] [int] NOT NULL,
	[PostInIP] [varchar](32) NOT NULL,
	[PostTime] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_BitacoraEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
	[TipoMontoCC] [int] NOT NULL,
	[PeriodoMontoCC] [int] NOT NULL,
 CONSTRAINT [PK_CC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_ConsumoAgua]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_ConsumoAgua](
	[id] [int] NOT NULL,
	[ValorMinimo] [int] NOT NULL,
	[ConsumoAgua] [int] NOT NULL,
	[ValorFijoM3Adicional] [int] NOT NULL,
	[ValorMinimoM3] [int] NULL,
 CONSTRAINT [PK_CC_ConsumoAgua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_ImpuestoPropiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_ImpuestoPropiedad](
	[id] [int] NOT NULL,
	[ValorPorcentual] [decimal](6, 5) NOT NULL,
 CONSTRAINT [PK_CC_ImpuestoPropiedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_InteresesMoratorios]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_InteresesMoratorios](
	[id] [int] NOT NULL,
	[ValorPorcentual] [decimal](6, 5) NOT NULL,
 CONSTRAINT [PK_CC_InteresesMoratorios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_MantenimientoParques]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_MantenimientoParques](
	[id] [int] NOT NULL,
	[ValorFijo] [int] NOT NULL,
 CONSTRAINT [PK_CC_MantenimientoParques] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_PatenteComercial]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_PatenteComercial](
	[id] [int] NOT NULL,
	[ValorFijo] [int] NOT NULL,
 CONSTRAINT [PK_CC_PatenteComercial] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_RecoleccionBasura]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_RecoleccionBasura](
	[id] [int] NOT NULL,
	[ValorMinimo] [int] NOT NULL,
	[ValorFijo] [int] NOT NULL,
	[ValorM2Minimo] [int] NOT NULL,
	[ValorTramosM2] [int] NOT NULL,
 CONSTRAINT [PK_CC_RecoleccionBasura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CC_ReconexionAgua]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CC_ReconexionAgua](
	[id] [int] NOT NULL,
	[ValorFijo] [int] NOT NULL,
 CONSTRAINT [PK_CC_ReconexionAgua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCPropiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCPropiedad](
	[id] [int] NOT NULL,
	[NumeroFinca] [nvarchar](32) NOT NULL,
	[idCC] [int] NOT NULL,
	[PropiedadId] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
 CONSTRAINT [PK_CCPropiedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCPropiedadEvento]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCPropiedadEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPropiedad] [int] NOT NULL,
	[idCC] [int] NOT NULL,
	[idTipoAsociacion] [int] NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobantePago]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobantePago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPago] [int] NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[monto] [money] NOT NULL,
	[numeroReferencia] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DBErrors]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBErrors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [sysname] NOT NULL,
	[Number] [int] NOT NULL,
	[State] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[Line] [int] NOT NULL,
	[Procedure] [sysname] NULL,
	[Message] [nvarchar](4000) NOT NULL,
	[DateTime] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DBErrors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NOT NULL,
	[idCC] [int] NOT NULL,
	[descripcion] [nvarchar](128) NULL,
	[monto] [money] NOT NULL,
	[m3Facturados] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPropiedad] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[fechaVenc] [date] NOT NULL,
	[totalOriginal] [money] NOT NULL,
	[totalFinal] [money] NOT NULL,
	[estado] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovMedidor]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovMedidor](
	[id] [int] NOT NULL,
	[numeroMedidor] [nvarchar](64) NOT NULL,
	[idTipoMovimientoLecturaMedidor] [int] NOT NULL,
	[valor] [money] NOT NULL,
	[idPropiedad] [int] NULL,
	[fecha] [date] NOT NULL,
	[saldoResultante] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Lectura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCorta]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCorta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPropiedad] [int] NOT NULL,
	[idFacturaCausa] [int] NOT NULL,
	[fechaGeneracion] [date] NOT NULL,
	[estadoCorta] [tinyint] NOT NULL,
	[fechaCierre] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenReconexion]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenReconexion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPropiedad] [int] NOT NULL,
	[idOrdenCorta] [int] NOT NULL,
	[idFacturaPago] [int] NOT NULL,
	[fechaGeneracion] [date] NOT NULL,
	[estadoReconexion] [tinyint] NOT NULL,
	[fechaEjecucion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[numeroFinca] [nvarchar](64) NOT NULL,
	[idTipoMedioPago] [int] NOT NULL,
	[numeroReferencia] [nvarchar](64) NOT NULL,
	[idFactura] [int] NULL,
	[fecha] [date] NOT NULL,
	[monto] [money] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParametroSistema]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParametroSistema](
	[clave] [sysname] NOT NULL,
	[valor] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clave] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodoMontoCC]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodoMontoCC](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
	[qMeses] [int] NOT NULL,
	[dias] [int] NULL,
 CONSTRAINT [PK_PeriodoMontoCC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[valorDocumento] [nvarchar](64) NOT NULL,
	[nombre] [nvarchar](64) NOT NULL,
	[email] [nvarchar](64) NOT NULL,
	[telefono] [nvarchar](64) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Persona_valorDocumento] UNIQUE NONCLUSTERED 
(
	[valorDocumento] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Propiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Propiedad](
	[id] [int] NOT NULL,
	[numeroFinca] [nvarchar](64) NOT NULL,
	[metrosCuadrados] [int] NOT NULL,
	[idTipoUsoPropiedad] [int] NOT NULL,
	[idTipoZonaPropiedad] [int] NOT NULL,
	[valorFiscal] [int] NOT NULL,
	[fechaRegistro] [date] NOT NULL,
	[numeroMedidor] [nvarchar](64) NOT NULL,
	[saldoM3] [decimal](12, 2) NOT NULL,
	[saldoM3UltimaFactura] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Propiedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Propiedad_NumeroFinca] UNIQUE NONCLUSTERED 
(
	[numeroFinca] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropiedadPersona]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropiedadPersona](
	[id] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
	[idPersona] [int] NOT NULL,
	[idPropiedad] [int] NOT NULL,
 CONSTRAINT [PK_PropiedadPersona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAsociacion]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAsociacion](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoAsociacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TipoEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMedioPago]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMedioPago](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMedioPago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMontoCC]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMontoCC](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMontoCC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimientoLecturaMedidor]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimientoLecturaMedidor](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoMovimientoLecturaMedidor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsoPropiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsoPropiedad](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoUsoPropiedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuario]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuario](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoUsuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoZonaPropiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoZonaPropiedad](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_TipoZonaPropiedad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NOT NULL,
	[ValorDocumento] [nvarchar](32) NOT NULL,
	[idTipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPersona]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPersona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPersona] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPropiedad]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPropiedad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idPropiedad] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFuente]    Script Date: 21/11/2025 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFuente](
	[IdXml] [tinyint] NOT NULL,
	[NombreArchivo] [sysname] NOT NULL,
	[XmlContenido] [xml] NOT NULL,
 CONSTRAINT [PK_XmlFuente] PRIMARY KEY CLUSTERED 
(
	[IdXml] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEvento] ADD  CONSTRAINT [DF_BitacoraEvento_PostTime]  DEFAULT (sysdatetime()) FOR [PostTime]
GO
ALTER TABLE [dbo].[CC] ADD  CONSTRAINT [DF_CC_id_seq]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_CC]) FOR [id]
GO
ALTER TABLE [dbo].[CCPropiedad] ADD  CONSTRAINT [DF_CCPropiedad_id_seq]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_CCPropiedad]) FOR [id]
GO
ALTER TABLE [dbo].[ComprobantePago] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[DBErrors] ADD  CONSTRAINT [DF_DBErrors_DateTime]  DEFAULT (sysdatetime()) FOR [DateTime]
GO
ALTER TABLE [dbo].[Factura] ADD  CONSTRAINT [DF_Factura_Estado]  DEFAULT ((0)) FOR [estado]
GO
ALTER TABLE [dbo].[MovMedidor] ADD  CONSTRAINT [DF_Mov_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[OrdenCorta] ADD  CONSTRAINT [DF_OC_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fechaGeneracion]
GO
ALTER TABLE [dbo].[OrdenCorta] ADD  CONSTRAINT [DF_OC_Estado]  DEFAULT ((1)) FOR [estadoCorta]
GO
ALTER TABLE [dbo].[OrdenReconexion] ADD  CONSTRAINT [DF_OR_Fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fechaGeneracion]
GO
ALTER TABLE [dbo].[OrdenReconexion] ADD  CONSTRAINT [DF_OR_Estado]  DEFAULT ((0)) FOR [estadoReconexion]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[Propiedad] ADD  CONSTRAINT [DF_Propiedad_id_seq]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_Propiedad]) FOR [id]
GO
ALTER TABLE [dbo].[Propiedad] ADD  CONSTRAINT [DF_Prop_saldoM3]  DEFAULT ((0)) FOR [saldoM3]
GO
ALTER TABLE [dbo].[Propiedad] ADD  CONSTRAINT [DF_Prop_saldoUF]  DEFAULT ((0)) FOR [saldoM3UltimaFactura]
GO
ALTER TABLE [dbo].[PropiedadPersona] ADD  CONSTRAINT [DF_PP_inicio]  DEFAULT ('1900-01-01') FOR [fechaInicio]
GO
ALTER TABLE [dbo].[UsuarioPersona] ADD  DEFAULT (CONVERT([date],sysdatetime())) FOR [fechaInicio]
GO
ALTER TABLE [dbo].[UsuarioPropiedad] ADD  DEFAULT (getdate()) FOR [fechaInicio]
GO
ALTER TABLE [dbo].[BitacoraEvento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEvento_TipoEvento] FOREIGN KEY([IdTipoEvento])
REFERENCES [dbo].[TipoEvento] ([Id])
GO
ALTER TABLE [dbo].[BitacoraEvento] CHECK CONSTRAINT [FK_BitacoraEvento_TipoEvento]
GO
ALTER TABLE [dbo].[BitacoraEvento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEvento_Usuario] FOREIGN KEY([IdPostByUser])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[BitacoraEvento] CHECK CONSTRAINT [FK_BitacoraEvento_Usuario]
GO
ALTER TABLE [dbo].[CC]  WITH CHECK ADD  CONSTRAINT [FK_CC_PeriodoMontoCC] FOREIGN KEY([PeriodoMontoCC])
REFERENCES [dbo].[PeriodoMontoCC] ([id])
GO
ALTER TABLE [dbo].[CC] CHECK CONSTRAINT [FK_CC_PeriodoMontoCC]
GO
ALTER TABLE [dbo].[CC]  WITH CHECK ADD  CONSTRAINT [FK_CC_TipoMontoCC] FOREIGN KEY([TipoMontoCC])
REFERENCES [dbo].[TipoMontoCC] ([id])
GO
ALTER TABLE [dbo].[CC] CHECK CONSTRAINT [FK_CC_TipoMontoCC]
GO
ALTER TABLE [dbo].[CC_ConsumoAgua]  WITH CHECK ADD  CONSTRAINT [FK_CC_ConsumoAgua_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_ConsumoAgua] CHECK CONSTRAINT [FK_CC_ConsumoAgua_CC]
GO
ALTER TABLE [dbo].[CC_ImpuestoPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_CC_ImpuestoPropiedad_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_ImpuestoPropiedad] CHECK CONSTRAINT [FK_CC_ImpuestoPropiedad_CC]
GO
ALTER TABLE [dbo].[CC_InteresesMoratorios]  WITH CHECK ADD  CONSTRAINT [FK_CC_InteresesMoratorios_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_InteresesMoratorios] CHECK CONSTRAINT [FK_CC_InteresesMoratorios_CC]
GO
ALTER TABLE [dbo].[CC_MantenimientoParques]  WITH CHECK ADD  CONSTRAINT [FK_CC_MantenimientoParques_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_MantenimientoParques] CHECK CONSTRAINT [FK_CC_MantenimientoParques_CC]
GO
ALTER TABLE [dbo].[CC_PatenteComercial]  WITH CHECK ADD  CONSTRAINT [FK_CC_PatenteComercial_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_PatenteComercial] CHECK CONSTRAINT [FK_CC_PatenteComercial_CC]
GO
ALTER TABLE [dbo].[CC_RecoleccionBasura]  WITH CHECK ADD  CONSTRAINT [FK_CC_RecoleccionBasura_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_RecoleccionBasura] CHECK CONSTRAINT [FK_CC_RecoleccionBasura_CC]
GO
ALTER TABLE [dbo].[CC_ReconexionAgua]  WITH CHECK ADD  CONSTRAINT [FK_CC_ReconexionAgua_CC] FOREIGN KEY([id])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CC_ReconexionAgua] CHECK CONSTRAINT [FK_CC_ReconexionAgua_CC]
GO
ALTER TABLE [dbo].[CCPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_CCPropiedad_CC] FOREIGN KEY([idCC])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CCPropiedad] CHECK CONSTRAINT [FK_CCPropiedad_CC]
GO
ALTER TABLE [dbo].[CCPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_CCPropiedad_Propiedad] FOREIGN KEY([PropiedadId])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[CCPropiedad] CHECK CONSTRAINT [FK_CCPropiedad_Propiedad]
GO
ALTER TABLE [dbo].[CCPropiedadEvento]  WITH CHECK ADD  CONSTRAINT [FK_CCE_CC] FOREIGN KEY([idCC])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[CCPropiedadEvento] CHECK CONSTRAINT [FK_CCE_CC]
GO
ALTER TABLE [dbo].[CCPropiedadEvento]  WITH CHECK ADD  CONSTRAINT [FK_CCE_Propiedad] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[CCPropiedadEvento] CHECK CONSTRAINT [FK_CCE_Propiedad]
GO
ALTER TABLE [dbo].[CCPropiedadEvento]  WITH CHECK ADD  CONSTRAINT [FK_CCE_TipoAsociacion] FOREIGN KEY([idTipoAsociacion])
REFERENCES [dbo].[TipoAsociacion] ([id])
GO
ALTER TABLE [dbo].[CCPropiedadEvento] CHECK CONSTRAINT [FK_CCE_TipoAsociacion]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [FK_CP_Pago] FOREIGN KEY([idPago])
REFERENCES [dbo].[Pago] ([id])
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [FK_CP_Pago]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DF_CC] FOREIGN KEY([idCC])
REFERENCES [dbo].[CC] ([id])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DF_CC]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DF_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DF_Factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Prop] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Prop]
GO
ALTER TABLE [dbo].[MovMedidor]  WITH CHECK ADD  CONSTRAINT [FK_Lectura_TipoMovimientoLecturaMedidor] FOREIGN KEY([idTipoMovimientoLecturaMedidor])
REFERENCES [dbo].[TipoMovimientoLecturaMedidor] ([id])
GO
ALTER TABLE [dbo].[MovMedidor] CHECK CONSTRAINT [FK_Lectura_TipoMovimientoLecturaMedidor]
GO
ALTER TABLE [dbo].[MovMedidor]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Propiedad] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[MovMedidor] CHECK CONSTRAINT [FK_Mov_Propiedad]
GO
ALTER TABLE [dbo].[OrdenCorta]  WITH CHECK ADD  CONSTRAINT [FK_OC_FacturaCausa] FOREIGN KEY([idFacturaCausa])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[OrdenCorta] CHECK CONSTRAINT [FK_OC_FacturaCausa]
GO
ALTER TABLE [dbo].[OrdenCorta]  WITH CHECK ADD  CONSTRAINT [FK_OC_Propiedad] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[OrdenCorta] CHECK CONSTRAINT [FK_OC_Propiedad]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [FK_OR_FacturaPago] FOREIGN KEY([idFacturaPago])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [FK_OR_FacturaPago]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [FK_OR_OrdenCorta] FOREIGN KEY([idOrdenCorta])
REFERENCES [dbo].[OrdenCorta] ([id])
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [FK_OR_OrdenCorta]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [FK_OR_Propiedad] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [FK_OR_Propiedad]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Factura]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Propiedad_NumFinca] FOREIGN KEY([numeroFinca])
REFERENCES [dbo].[Propiedad] ([numeroFinca])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Propiedad_NumFinca]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_TipoMedioPago] FOREIGN KEY([idTipoMedioPago])
REFERENCES [dbo].[TipoMedioPago] ([id])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_TipoMedioPago]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [FK_Propiedad_TipoUsoPropiedad] FOREIGN KEY([idTipoUsoPropiedad])
REFERENCES [dbo].[TipoUsoPropiedad] ([id])
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [FK_Propiedad_TipoUsoPropiedad]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [FK_Propiedad_TipoZonaPropiedad] FOREIGN KEY([idTipoZonaPropiedad])
REFERENCES [dbo].[TipoZonaPropiedad] ([id])
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [FK_Propiedad_TipoZonaPropiedad]
GO
ALTER TABLE [dbo].[PropiedadPersona]  WITH CHECK ADD  CONSTRAINT [FK_PP_PersonaID] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[PropiedadPersona] CHECK CONSTRAINT [FK_PP_PersonaID]
GO
ALTER TABLE [dbo].[PropiedadPersona]  WITH CHECK ADD  CONSTRAINT [FK_PP_PropiedadID] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[PropiedadPersona] CHECK CONSTRAINT [FK_PP_PropiedadID]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoUsuario] FOREIGN KEY([idTipoUsuario])
REFERENCES [dbo].[TipoUsuario] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoUsuario]
GO
ALTER TABLE [dbo].[UsuarioPersona]  WITH CHECK ADD  CONSTRAINT [FK_UP_Persona] FOREIGN KEY([idPersona])
REFERENCES [dbo].[Persona] ([id])
GO
ALTER TABLE [dbo].[UsuarioPersona] CHECK CONSTRAINT [FK_UP_Persona]
GO
ALTER TABLE [dbo].[UsuarioPersona]  WITH CHECK ADD  CONSTRAINT [FK_UP_User] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[UsuarioPersona] CHECK CONSTRAINT [FK_UP_User]
GO
ALTER TABLE [dbo].[UsuarioPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UP_Propiedad] FOREIGN KEY([idPropiedad])
REFERENCES [dbo].[Propiedad] ([id])
GO
ALTER TABLE [dbo].[UsuarioPropiedad] CHECK CONSTRAINT [FK_UP_Propiedad]
GO
ALTER TABLE [dbo].[UsuarioPropiedad]  WITH CHECK ADD  CONSTRAINT [FK_UP_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[UsuarioPropiedad] CHECK CONSTRAINT [FK_UP_Usuario]
GO
ALTER TABLE [dbo].[ComprobantePago]  WITH CHECK ADD  CONSTRAINT [CK_ComprobantePago_Monto_NoNeg] CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[ComprobantePago] CHECK CONSTRAINT [CK_ComprobantePago_Monto_NoNeg]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [CK_DF_m3_NoNeg] CHECK  (([m3Facturados] IS NULL OR [m3Facturados]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [CK_DF_m3_NoNeg]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [CK_DF_Monto_NoNeg] CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [CK_DF_Monto_NoNeg]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Estado] CHECK  (([estado]=(4) OR [estado]=(3) OR [estado]=(2) OR [estado]=(1)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Estado]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Fechas] CHECK  (([fecha]<=[fechaVenc]))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Fechas]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [CK_Factura_Totales] CHECK  (([totalOriginal]>=(0) AND [totalFinal]>=[totalOriginal]))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [CK_Factura_Totales]
GO
ALTER TABLE [dbo].[OrdenCorta]  WITH CHECK ADD  CONSTRAINT [CK_OC_Estado] CHECK  (([estadoCorta]=(2) OR [estadoCorta]=(1)))
GO
ALTER TABLE [dbo].[OrdenCorta] CHECK CONSTRAINT [CK_OC_Estado]
GO
ALTER TABLE [dbo].[OrdenCorta]  WITH CHECK ADD  CONSTRAINT [CK_OC_Fechas] CHECK  (([fechaCierre] IS NULL OR [fechaGeneracion]<=[fechaCierre]))
GO
ALTER TABLE [dbo].[OrdenCorta] CHECK CONSTRAINT [CK_OC_Fechas]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [CK_OR_Estado] CHECK  (([estadoReconexion]=(2) OR [estadoReconexion]=(1)))
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [CK_OR_Estado]
GO
ALTER TABLE [dbo].[OrdenReconexion]  WITH CHECK ADD  CONSTRAINT [CK_OR_Fechas] CHECK  (([fechaEjecucion] IS NULL OR [fechaGeneracion]<=[fechaEjecucion]))
GO
ALTER TABLE [dbo].[OrdenReconexion] CHECK CONSTRAINT [CK_OR_Fechas]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_Monto_NoNeg] CHECK  (([monto] IS NULL OR [monto]>=(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_Monto_NoNeg]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [CK_Prop_Saldos_NoNeg] CHECK  (([saldoM3]>=(0) AND [saldoM3UltimaFactura]>=(0)))
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [CK_Prop_Saldos_NoNeg]
GO
ALTER TABLE [dbo].[Propiedad]  WITH CHECK ADD  CONSTRAINT [CK_Propiedad_Metros] CHECK  (([metrosCuadrados]>(0)))
GO
ALTER TABLE [dbo].[Propiedad] CHECK CONSTRAINT [CK_Propiedad_Metros]
GO
ALTER TABLE [dbo].[UsuarioPersona]  WITH CHECK ADD  CONSTRAINT [CK_UsuarioPersona_Fechas] CHECK  (([fechaFin] IS NULL OR [fechaInicio]<=[fechaFin]))
GO
ALTER TABLE [dbo].[UsuarioPersona] CHECK CONSTRAINT [CK_UsuarioPersona_Fechas]
GO
ALTER TABLE [dbo].[UsuarioPropiedad]  WITH CHECK ADD  CONSTRAINT [CK_UsuarioPropiedad_Fechas] CHECK  (([fechaFin] IS NULL OR [fechaInicio]<=[fechaFin]))
GO
ALTER TABLE [dbo].[UsuarioPropiedad] CHECK CONSTRAINT [CK_UsuarioPropiedad_Fechas]
GO
